PropertyTable
{
    margin: 0;
    margin-left: 6px;
    margin-right: 6px;
    padding: 0;
}

PropertyTable > QFrame
{
    margin-top: 0;
    margin-left: 2px;
    margin-right: 3px;
    padding-left: 3px;
    padding-right: 3px;
}
