/* VCS's default program-wide font style; intended for Linux targets.*/

*
{
    font-family: "Ubuntu"; /*Assumes that the possibly non-standard Ubuntu font is provided with VCS.*/
    font-size: 11pt;
}
